*{ 
  box-sizing: border-box;
  font-size: 0;
 }

body { 
  background-color: white;
  margin:0;
 }

.circle { 
  background-color: #4D0A83;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  width: 7vh;
  height: 7vh;
  display: inline-block;
  padding: 0;

 }

#wrapper { 
  width: 170vh;
  height: 60vh;
  position : relative;
  margin-left: -46%;
  margin-top: 5%;
  transform: translate(50%,50%);
  overflow: hidden;
 }

 .text { 
  font-size: 6vh;
  font-family: Avenir;
  margin-left: 40%;
  margin-top: 8%;
  }



